<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include ('./_header') -%>
    <div class="head"><h1>Registration-Login System</h1></div>
    <div class="signup-form">
      <div class="container">
        <div class="header">
          <h1>ENTER NEW PASSWORD</h1>

          <!-- Your registration form -->
        </div>

        <form action="" method="post">
          <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Current Password"
              required
            />
          </div>
          <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              placeholder="New Password"
              required
            />
          </div>
          <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="confirm-password"
              name="confirm_new_password"
              placeholder="Confirm Password"
              required
            />
          </div>
          <div>
            <p id="message"></p>
          </div>
          <input class="signup-btn" type="submit" value="CHANGE PASSWORD" />
        </form>
      </div>
    </div>
    <%- include ("./message") %>
  </body>
</html>
