<%- include ('./_header') -%>
<body>
  
  <div class="head"><h1>Registration-Login System</h1></div>
  <div class="signup-form">
    <div class="container">
      <div class="header">
        <h1>Forgot Password</h1>

        <!-- Your registration form -->
      </div>

      <form action="" method="post">
        <div class="input">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" name="email" placeholder="Enter Email" required />
        </div>

        
        <input class="signup-btn" type="submit" value="Send reset link" />
      </form>

      
      
      <p>Remember your password?&nbsp; <a href="/login">Sign in</a></p>
    </div>
  </div>
   <%- include ("./message") %>
</body>
