<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include ('./_header') -%> 
    <div class="head"><h1>Registration-Login System</h1></div>
    <div class="signup-form">
      <div class="container">
        <div class="header">
          <h1>Create an Account</h1>

          <!-- Your registration form -->
        </div>

        <form action="" method="post">
          <div class="input">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="name" placeholder="Full Name" required />
          </div>
          <div class="input">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="confirm-password"
              name="confirm_password"
              placeholder="Confirm Password"
              required
            />
          </div>

          <div>
            <p id="message"></p>
          </div>
          <input class="signup-btn" type="submit" value="SIGN UP" />
        </form>

        <p>Or sign up with</p>
        <div class="social-icons">
          <a href="/facebook" class="button facebook"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>

          <a class="button google" href="/google"
            ><i class="fa-brands fa-google"></i
          ></a>
        </div>
        <p>Already have an account? <a href="/login">Sign in</a></p>
      </div>
    </div>
    <%- include ("./message") %>
  </body>
</html>
